header {
  display: flex;
  justify-content: space-between;

  background: -moz-linear-gradient(top, #55cc5b, #b5e7bc);
}
li {
  list-style: none;
}
header nav ul li {
  margin-left: 2rem;
}
header nav ul {
  display: flex;
}
nav {
  display: flex;
}
header button {
  background-color: lightgreen;
  height: 2rem;
  width: 4rem;
  border-radius: 0.7rem;
  border-style: none;
  margin-left: 1rem;
  margin-top: 0.6rem;
}
.three_sub {
  display: flex;
  justify-content: space-between;
}
.three_sub p {
  margin-right: 12rem;
}
/* .first_group {
  display: flex;
} */
.big_class h3 {
}
.varr {
  display: flex;
}
.second_group_button {
  display: flex;
  align-items: first baseline;
}
.second_group_button button {
  background-color: #55cc5b;
  border-radius: 0.7rem;
  height: 2rem;
  width: 5rem;
  margin-right: 1.5rem;
  border-style: none;
}
.head header {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}
.head p {
  display: flex;
  justify-content: center;
}
.three_img {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  justify-content: space-around;
}
.three_sub_a {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  justify-content: space-around;
}
.three_sub_b {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  justify-content: space-around;
  margin-left: 1rem;
}
.sec_three {
  display: flex;
  margin-bottom: -7rem;
  margin-top: -3rem;
}
.inline_text {
  margin-top: 6rem;
  justify-content: space-around;
  margin-bottom: 0.1rem;
  margin-left: 2rem;
  height: 14rem;
}
.inline_text p {
  margin-right: 6rem;
}
.a {
  font-size: 2rem;
}
.inline_text button {
  background-color: #1f5822;
  border-radius: 0.7rem;
  border-style: solid;
  border-color: #55cc5b;
  height: 2rem;
  width: 7rem;
}
.inline2_text {
  display: flex;
}
.farm {
  margin-top: 4rem;
}
.farm header {
  font-size: 2rem;
}
.sub_button {
  display: flex;
  align-items: first baseline;
}
.sub_button button {
  color: #55cc5b;
  width: 8rem;
  height: 2.2rem;
  border-radius: 0.8rem;
  border-style: solid;
  border-color: #55cc5b;
  margin-right: 2rem;
}
.sec_five {
  display: flex;
}
.inline_text_3 {
  margin-top: 9rem;
}
.inline_text_3 header {
  font-size: 2rem;
}
.inline_text_3 button {
  color: #55cc5b;
  width: 8rem;
  height: 2.2rem;
  border-radius: 0.8rem;
  border-style: solid;
  border-color: #55cc5b;
}
footer {
  display: flex;
  background-color: #1f5822;
  height: 20rem;
  width: 50rem;
  justify-self: center;
  border-radius: 2rem;
  margin-top: 6rem;
}
footer button {
  background-color: #55cc5b;
  border-radius: 1rem;
  height: 2.6rem;
  width: 5.5rem;
}
footer header {
  font-size: 2rem;
  color: white;
}
footer p {
  color: white;
}
.text_part {
  padding: 2rem;
}
footer img {
  margin-top: -8rem;
  width: 100%;
  margin-right: 2rem;
}
@media (max-width: 780px) {
  .varr img {
    display: none;
  }
  .first_group h3 {
    justify-self: center;
  }
  footer {
    /* margin-left: 10rem;
    margin-top: 3rem;
    width: 15rem;
    height: 8rem;
    width: 100%; */
    width: 100%;
    border-radius: 0%;
    padding: 1rem;
    height: 14rem;
  }
  .sec_five {
    display: flex;
    flex-direction: column;
  }
  .sec_five img {
    width: 0.1rem;
    height: 0.1rem;
  }
  .sec_three {
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
  }
  .text_part p {
    margin-bottom: 0rem;
  }
  .text_part {
    padding: 1rem;
  }

  footer img {
    display: none;
  }
  .inline2_text {
    display: flex;
    flex-direction: column;
  }
  nav {
    display: none;
  }
  /* * {
    width: 100%;
  } */
  main {
    width: 100%;
  }
  section {
    width: 100%;
  }
  .three_img {
    width: 6rem;
    height: 6rem;
    justify-content: ;
  }
  .inline_cash {
    /* width: 1rem;
    height: 1rem; */
    display: none;
  }
  .text_part header {
    font-size: 1rem;
  }
  .a {
    font-size: 1.2rem;
  }
  .farm {
    margin-top: 0.1rem;
  }
}
